In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys
sys.path.insert(0, os.path.dirname(os.path.abspath("")))

In [3]:
from src.tute import Tute

In [4]:
tute = Tute()
tute.deck

              description  suit  value  ranking  points  location
0           el as de oros     0      1        1      11         1
1          el dos de oros     0      2       12       0         1
2         el tres de oros     0      3        2      10         1
3       el cuatro de oros     0      4       11       0         1
4        el cinco de oros     0      5       10       0         1
5         el seis de oros     0      6        9       0         1
6        el siete de oros     0      7        8       0         1
7         la sota de oros     0     10        5       2         1
8      el caballo de oros     0     11        4       3         1
9          el rey de oros     0     12        3       4         1
10         el as de copas     1      1        1      11         1
11        el dos de copas     1      2       12       0         1
12       el tres de copas     1      3        2      10         1
13     el cuatro de copas     1      4       11       0         1
14      el cinco de copas     1      5       10       0         1
15       el seis de copas     1      6        9       0         1
16      el siete de copas     1      7        8       0         1
17       la sota de copas     1     10        5       2         1
18    el caballo de copas     1     11        4       3         1
19        el rey de copas     1     12        3       4         1
20       el as de espadas     2      1        1      11         1
21      el dos de espadas     2      2       12       0         1
22     el tres de espadas     2      3        2      10         1
23   el cuatro de espadas     2      4       11       0         1
24    el cinco de espadas     2      5       10       0         1
25     el seis de espadas     2      6        9       0         1
26    el siete de espadas     2      7        8       0         1
27     la sota de espadas     2     10        5       2         1
28  el caballo de espadas     2     11        4       3         1
29      el rey de espadas     2     12        3       4         1
30        el as de bastos     3      1        1      11         1
31       el dos de bastos     3      2       12       0         1
32      el tres de bastos     3      3        2      10         1
33    el cuatro de bastos     3      4       11       0         1
34     el cinco de bastos     3      5       10       0         1
35      el seis de bastos     3      6        9       0         1
36     el siete de bastos     3      7        8       0         1
37      la sota de bastos     3     10        5       2         1
38   el caballo de bastos     3     11        4       3         1
39       el rey de bastos     3     12        3       4         1

In [5]:
tute.deal()
display(tute.get_hand(0))
display(tute.get_hand(1))
display(tute.get_trump())

             description  suit  value  ranking  points  location
29     el rey de espadas     2     12        3       4         3
5        el seis de oros     0      6        9       0         3
3      el cuatro de oros     0      4       11       0         3
32     el tres de bastos     3      3        2      10         3
38  el caballo de bastos     3     11        4       3         3
6       el siete de oros     0      7        8       0         3
34    el cinco de bastos     3      5       10       0         3
36    el siete de bastos     3      7        8       0         3

              description  suit  value  ranking  points  location
35      el seis de bastos     3      6        9       0         6
19        el rey de copas     1     12        3       4         6
26    el siete de espadas     2      7        8       0         6
21      el dos de espadas     2      2       12       0         6
0           el as de oros     0      1        1      11         6
4        el cinco de oros     0      5       10       0         6
1          el dos de oros     0      2       12       0         6
28  el caballo de espadas     2     11        4       3         6

        description  suit  value  ranking  points  location
30  el as de bastos     3      1        1      11         2